/* CONTENT CONTAINER================================================================= */
.content {
  background: rgb(99, 26, 128);
  background: linear-gradient(
    180deg,
    rgba(99, 26, 128, 1) 0%,
    rgba(172, 75, 92, 1) 50%,
    rgba(225, 112, 66, 1) 97%
  );
  box-sizing: border-box;
  position: absolute;
  top: 72px;
  left: 280px;
  width: calc(100vw - 280px);
  height: calc(100dvh - 72px);
  overflow-y: auto;
  padding: 20px;
}

/* SIDEBAR ================================================================= */
.sideContainer {
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
}

.sideNav {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  gap: 48px;
  padding-top: 70px;
  align-self: center;
}

.sideNav > button {
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
}

/* HEADER ================================================================= */
.headerContainer {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
  height: 72px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
}

.clogo {
  color: black;
}

.logoContainer {
  flex: 0 0 auto;
  height: 100%;
}

.headerContainer > :nth-child(n + 2) {
  flex: 1;
}

.logoContainer img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.userDisplay {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0px;
  text-align: right;
}

.userDisplay > p {
  margin: 0px;
}
.userDisplay > p:first-of-type {
  color: #242424;
  font-weight: bold;
  font-size: 1rem;
}
.userDisplay > p:nth-of-type(2),
.userDisplay > p:last-of-type {
  color: #24242488;
  font-size: 0.8rem;
}
/* ================================================================= */

.text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.text:hover {
  color: #5c26ce;
  transform: scale(1.05);
}

.text:focus {
  color: #e8a92d;
  transform: scale(0.95);
}

.active {
  color: #5b4035;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.active:hover {
  color: #5b4035;
  transform: scale(1.05);
}

.lastItem {
  margin-top: auto;
  font-weight: 500;
}
