.cardContainer {
  color: black;
  background-color: #f2f0efe1;
  border-radius: 24px;
  min-width: max-content;
  padding: 16px;
  align-self: flex-start;
}

.cardContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardContent p {
  font-size: 1rem;
  margin: 0%;
}

.cardContent p:last-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

.icon {
  min-width: 50px;
  height: auto;
}

.countData {
  text-align: right;
}

/* Sessions Table ============================================================================== */

.dateNav {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.dateContainer {
  display: flex;
  background-color: #a8a9ab8f;
  padding: 10px;
  border-radius: 24px;
  font-weight: bold;
  justify-content: center;
}

.dateNav > :first-child,
.dateNav > :last-child {
  flex: 0 0 30%;
}

.dateNav > :nth-child(2) {
  flex: 0 0 60%;
  text-align: center;
  color: #242424;
}

.dateNav .calendarArrow {
  box-shadow: none;
  display: flex;
  align-content: center;
  border: 2px solid #242424;
  height: fit-content;
  margin: auto;
  max-width: max-content;
}

.calendarArrow > svg {
  height: auto;
}

.dateNav .disabled {
  display: flex;
  background-color: #b7b2b2;
  border: 2px solid #b7b2b2;
  pointer-events: none;
  margin: auto;
  align-content: center;
  max-width: max-content;
  color: rgb(141, 136, 136);
}

.dropdownMenu {
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
  background-color: #ffffff;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow: hidden;
}

.dropdownMenu button {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 0;
  margin: 0;
  transform: none;
  font-weight: bold;
  text-align: start;
}

.dropdownMenu button:hover {
  background-color: rgb(215, 215, 215);
  display: block;
}

.noRecord td {
  text-align: center;
  font-weight: bold;
  color: #a59f9f;
  font-style: italic;
}
/* Pending Payments ============================================================================== */

.pendingPaymentsContainer {
  color: #242424;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 24px;
}

.pendingPaymentsContainer p {
  font-size: 0.9rem;
  margin: auto;
}

.pendingPaymentItem {
  background-color: #f2f0efe1;
  border-radius: 24px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}
.pendingPaymentItem > div:last-child {
  text-align: right;
}

.pendingPaymentItem .dueDateContainer {
  color: black;
  background-color: rgb(204, 130, 32);
  border-radius: 24px;
  font-weight: bold;
  padding: 0px;
  padding-inline: 10px;
  max-width: max-content;
  margin-bottom: 10px;
}

.pendingPaymentItem .overdue {
  background-color: rgb(204, 32, 32);
}

.pendingPaymentItem > div:last-child p {
  font-size: 0.8rem;
}

.paymentItemButtons {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  justify-self: end;
  gap: 5px;
}

.paymentItemButtons button {
  color: black;
  border: 2px solid black;
  font-size: 0.7rem;
  padding: 0;
  padding-inline: 10px;
  box-shadow: none;
}

/* DASHBOARD PAGE ============================================================================== */

.rowContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "summaryCards summaryCards pendingPayments"
    "quickActions quickActions pendingPayments"
    "upcomingSessions upcomingSessions pendingPayments";
  text-align: left;
}

.rowContainer h2 {
  margin: 0;
  margin-bottom: 16px;
}

.summaryCards {
  grid-area: summaryCards;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pendingPayments {
  grid-area: pendingPayments;
  align-self: start;
}

.quickActions {
  grid-area: quickActions;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.quickActionsButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.quickActions button {
  font-size: 14px;
}

.upcomingSessions {
  grid-area: upcomingSessions;
  overflow: auto;
  align-self: flex-start;
}
