.dropdownMenu {
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
  background-color: #ffffff;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow: hidden;
}

.dropdownMenu button {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 0;
  margin: 0;
  transform: none;
  font-weight: bold;
  text-align: start;
}

.dropdownMenu button:hover {
  background-color: rgb(215, 215, 215);
  display: block;
}

/* PaymentHistory Component ================================================================================== */

.paymentHistoryHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.paymentHistoryHeader > :first-child {
  flex: 1;
  min-width: max-content;
}

.paymentHistoryHeader > :last-child {
  flex: 0 1 60%;
  min-width: 300px;
}

.paymentHistoryBody {
  margin-block: 20px;
}

.paymentHistoryBody > .tableContainer {
  max-width: max-content;
}
