.formParentContainer {
  padding: 20px;
  border-radius: 24px;
  min-width: fit-content;
}

.teacherFormContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}
/* .teacherFormContainer hr {
  margin: 0;
  align-self: stretch;
  width: 2px;
  background-color: white;
  border: none;
} */

/* .teacherFormContainer > .formSection:first-child {
  flex: 1 0 100%;
  max-width: 50%;
  min-width: 300px;
}

.teacherFormContainer > .formSection:nth-child(2) {
  flex: 1 0 100%;
  max-width: min-content;
  min-width: 300px;
} */

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 8px;
}

.availabilityTableContainer {
  max-width: max-content;
  background-color: white;
  color: #242424;
  border-radius: 24px;
  padding: 10px;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
}

.formItem table th,
.formItem table td {
  color: #242424;
}

.formItem table td {
  vertical-align: top;
}

.formItem table td:last-of-type {
  vertical-align: middle;
}
.formItem table td > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.formItem table td > div > select {
  font-family: "Poppins";
  align-self: flex-start;
  border-radius: 12px;
  font-size: 0.9rem;
  border: none;
  padding: 10px;
  padding-right: 30px;
  cursor: pointer;
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 24px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}
.buttonRow {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  width: 100%;
  padding-inline: 20px;
}
.addAvailabilityButton {
  color: #242424;
  border: 2px solid #242424;
  display: flex;
  gap: 10px;
}

.addAvailabilityButton > svg {
  width: 24px;
  height: auto;
  vertical-align: middle;
}
.removeButton {
  color: crimson;
  border: none;
  padding: 0px;
  height: auto;
  box-shadow: none;
}

.removeButton > svg {
  width: 24px;
  height: auto;
  vertical-align: middle;
}

.formItem input {
  background-color: white;
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
  border: none;
  padding: 10px;
  font-family: Poppins;
}
.formItem.teacherItem input,
.formItem.noOfSessionsItem input {
  box-shadow: none;
}

label {
  white-space: nowrap;
  font-weight: bold;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.errorMessage {
  color: white;
  background-color: rgb(171, 12, 12);
  padding-inline: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px hsla(0, 95%, 43%, 0.282);
}

.formSection hr {
  margin-bottom: 20px;
}
.paymentMethodButtons {
  display: flex;
  font-size: 0.9rem;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.adminFormContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}
.adminFormContainer > .formSection {
  flex: 1 0;
  max-width: 50%;
  min-width: 300px;
}

/* Enrollment Form =================================================================================================== */
/* .enrollFormContainer {
  
} */
.tabButtonsContainer {
  display: flex;
  justify-self: center;
  gap: 20px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 34px;
  margin-bottom: 20px;
}
.tabButton {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  flex-shrink: 0;
}

.tabButton:hover {
  outline: 2px solid white;
}

.activeTab {
  background-color: rgba(192, 90, 12, 1);
  font-weight: bold;
  box-shadow: 0 5px 5px hsla(0, 0%, 1%, 0.282);
}

.formSection {
  padding-inline: 100px;
  margin-bottom: 1em;
  min-width: fit-content;
}

.formSection.studentSelection > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formSection > .newStudentForm {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.formSection h3 {
  text-align: left;
}

.firstNameItem,
.lastNameItem {
  flex: 0 0 calc(50% - 5px);
  min-width: 300px;
}

.ageItem {
  flex: 0 0 calc(20% - 5px);
  min-width: 120px;
}
.addressItem {
  flex: 0 0 calc(80% - 5px);
  min-width: 430px;
}

.phoneItem,
.emailItem {
  flex: 0 0 calc(50% - 5px);
  min-width: 300px;
}

.programSection {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.programSection > :first-child {
  flex: 0 0 100%;
  min-width: 100px;
}

.programSection > .noOfSessionsItem > div:nth-of-type(2) {
  max-width: 150px;
}

.programSection > .teacherItem {
  flex: 0 0 77%;
}
.instrumentButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instrumentButtons button {
  font-size: 0.9rem;
}

.paymentSection > div:first-child {
  display: flex;
  justify-content: space-between;
}
.paymentSection .paymentRow {
  display: flex;
  justify-content: space-between;
}
.paymentMethodButtons {
  display: flex;
  font-size: 0.9rem;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.activePaymentMethodButton {
  color: #242424;
  font-weight: bold;
  background-color: white;
}

.submissionButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  padding-inline: 100px;
}

/* Session Schedules Form =================================================================================================== */
.sessionSchedulesTableContainer > table > thead {
  background-color: transparent;
  position: relative;
}

.sessionSchedulesTableContainer tr > th {
  color: white;
}
.sessionSchedulesTableContainer tr > td > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sessionSchedulesTableContainer tr > td:last-of-type {
  vertical-align: top;
}

.sessionSchedulesTableContainer h2 {
  text-align: center;
}

.sessionSchedulesTableContainer button {
  box-shadow: none;
}
.sessionSchedulesTableContainer p {
  color: white;
  font-weight: bold;
  margin: 8px;
  vertical-align: middle;
}
