.confirmContainer {
  text-align: center;
  background-color: white;
  border-radius: 24px;
  padding: 50px;
}

.confirmContainer h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.confirmButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.confirmButtons button {
  color: black;
  border: 2px solid black;
  min-width: 100px;
}

.confirmButtons .yesButton:hover {
  color: white;
  font-weight: bold;
  border: 2px solid rgb(54, 83, 134);
  background-color: rgb(54, 83, 134);
}

.confirmButtons .noButton:hover {
  color: white;
  font-weight: bold;
  border: 2px solid rgb(134, 54, 54);
  background-color: rgb(134, 54, 54);
}

/* Enroll Confirm ================================================================================ */

.enrollConfirm div {
  text-align: left;
}

.enrollConfirm h3 {
  font-size: 1.2rem;
  font-weight: normal;
}
.enrollConfirm p {
  margin-top: auto;
}

/* Payment Confirm ================================================================================ */

.paymentConfirm div {
  text-align: left;
}

.paymentConfirm h3 {
  font-size: 1rem;
  font-weight: bold;
}
.paymentConfirm p {
  margin-top: auto;
}

/* Reschedule Confirm ================================================================================ */

.reschedConfirm .confirmContent {
  padding-inline: 50px;
}

.reschedConfirm .confirmContent p {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* Delete Confirm ================================================================================ */
.deleteConfirm h2 {
  color: rgb(134, 54, 54);
  text-align: center;
}

.deleteConfirm .confirmContent {
  padding-inline: 50px;
  margin-block: 20px;
}

.deleteConfirm .confirmContent h3 {
  font-weight: normal;
  margin: 0px;
}

.deleteConfirm .confirmIcon svg {
  width: 100px;
  height: auto;
}

.deleteConfirm .confirmButtons {
  padding-block: 20px;
}

.deleteConfirm .confirmButtons .yesButton {
  color: white;
  font-weight: bold;
  border: 2px solid rgb(134, 54, 54);
  background-color: rgb(134, 54, 54);
}

.deleteConfirm .confirmButtons .noButton {
  color: rgb(54, 83, 134);
  font-weight: bold;
  border: 2px solid rgb(54, 83, 134);
  background-color: transparent;
}

.deleteConfirm .confirmButtons .noButton:hover {
  color: rgb(54, 83, 134);
  font-weight: bold;
}

/* Forfeit Confirm ================================================================================ */

.forfeitConfirm h2 {
  color: rgb(134, 54, 54);
  text-align: center;
}

.forfeitConfirm .confirmContent {
  padding-inline: 50px;
  margin-block: 20px;
}

.forfeitConfirm .confirmContent h3 {
  font-weight: normal;
  margin: 0px;
}
.confirmContent .forfeitDetails {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.confirmContent .forfeitDetails p {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  text-align: left;
}

.forfeitConfirm .confirmIcon svg {
  width: 100px;
  height: auto;
}

.forfeitConfirm .confirmButtons {
  padding-block: 20px;
}

.forfeitConfirm .confirmButtons .yesButton {
  color: white;
  font-weight: bold;
  border: 2px solid rgb(134, 54, 54);
  background-color: rgb(134, 54, 54);
}

.forfeitConfirm .confirmButtons .noButton {
  color: rgb(54, 83, 134);
  font-weight: bold;
  border: 2px solid rgb(54, 83, 134);
  background-color: transparent;
}

.forfeitConfirm .confirmButtons .noButton:hover {
  color: rgb(54, 83, 134);
  font-weight: bold;
}
